include mixins.pug
<!DOCTYPE html>
html(lang=lang)
    head 
        meta(name="location" content=location)
        //- meta(name="proccess" content=(dev?"dev":"prod"))
        meta(name="time" content=time)
        meta(name="role" content=role)
        meta(name="auth", content=isAuth)
        link(rel="icon" href="/cdn/static/favicon.ico" type="image/x-icon")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="title", title=tr.page.meta.title)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="discription", discription=tr.page.meta.discription)
        meta(name="robots" content=tr.page.meta.robots)
        meta(name="widgets" content=widgets)
        title=tr.page.meta.title
        //libs
        //system
        link(rel="stylesheet" type="text/css" href="/cdn/static/css/main.css")
        link(rel="stylesheet" type="text/css" href="/cdn/static/css/op.css")
    body(id="app" class=(dev?"dev":""))
        script(type="text/javascript" src="/cdn/static/js/start.js")
        div.page(class="page__"+pageName)
            if(dev)
                include ./dev-pannel
                script.
                    let pannel = document.querySelector(".rosa-dev-pannel")
                    if (pannel) {
                        rosa.dev = {};
                        rosa.dev = {
                            pannel
                        }
                        rosa.role = __.getMetaContent("role");
                        rosa.dev.pannel.querySelector(".rosa-dev-pannel-role").innerText = rosa.role;
                        rosa.dev.requestTime = __.getMetaContent("time") * 1;
                        rosa.dev.startPageTime = Date.now() - rosa.dev.requestTime;
                        rosa.dev.pannel.querySelector(".rosa-dev-pannel-start-time").innerText = rosa.dev.startPageTime/1000 + "s";
                    }
            block header
            block content
        block footer
        //system lib
        script(type="text/javascript" src="/cdn/static/js/balalaika.js")
        //system
        script(type="text/javascript")!=widgetsScript
        script(type="text/javascript" src="/cdn/shared/validation.js")
        script(type="text/javascript" src="/cdn/static/js/end.js")
        script(type="text/javascript" src=script)
        
            
    