
<!DOCTYPE html>
html(lang=options.lang)
    head
        link(rel="icon" href="/cdn/static/favicon.ico" type="image/x-icon")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="title", title=page.values.meta.title)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="discription", discription=page.values.meta.discription)
        meta(name="robots" content=page.values.meta.robots)
        meta(name="location" content=page.pathnames.current)

        meta(name="fragments" content=page.fragments)
        //- meta(name="noredirect" content="yes")
        title=page.values.title
        block head
        block css
        script(type="text/javascript" src="/cdn/system/front/start.js")
        style.
            body {margin: 0;}
    body(id=alias)
        style. 
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
        block content
        scripts
        script(type="text/javascript" src="/cdn/system/front/end.js")