include mixins.pug
<!DOCTYPE html>
html(lang=lang)
    head 
        meta(name="location" content=location)
        meta(name="proccess" content=(dev?"dev":"prod"))
        meta(name="time" content=time)
        meta(name="role" content=role)
        link(rel="icon" href="/cdn/static/favicon.ico" type="image/x-icon")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="title", title=translations.meta.title)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="discription", discription=translations.meta.discription)
        meta(name="robots" content=translations.meta.robots)
        meta(name="widgets" content=widgets)

        title=translations.meta.title
        //libs
        //system
        link(rel="stylesheet" type="text/css" href="/cdn/static/css/main.css")
    body(id="app" class=(dev?"dev":""))
        if(dev)
            include ./dev-pannel
        script(type="text/javascript" src="/cdn/static/js/start.js")
        block content
        //system lib
        script(type="text/javascript" src="/cdn/static/js/balalaika.js")
        //system
        script(type="text/javascript")!=widgetsScript
        script(type="text/javascript" src="/cdn/static/js/end.js")
        script(type="text/javascript" src=script)
            
    